<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaxTweets" value="20" />
    <add key="AccessToken" value="866636129256300544-CH0BGNChyJYa9lzNSwR5aq3p8zon7jv" />
    <add key="AccessTokenSecret" value="eZcJGaXtIvEWFbyel49hLV7kG6XoKouPek5bwqj88Tay1" />
    <add key="CustomerKey" value="Jjc7ECj8lLpylSM6FudayaFpE" />
    <add key="CustomerSecret" value="tBbuBUJNLiuxhbSMyYn7hHNLB7b7kyMiFbac1u5YTYHyIe43SL" />
  </appSettings>
</configuration>